/* Total */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poppins:wght@100;400&family=Source+Sans+3:wght@200;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    margin: 0px 5vw;
}

/* Animações */

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }

#blink {
    animation: blink 1s infinite; 
}

/* Header Area */

header {
    display: flex;
    align-items: center;
    height: 15vh;
    justify-content: space-between;
}

#logo {
    display: flex;
    align-items: center;
}

#logo img:first-child{
    height: 50px;
    width: 50px;
    cursor: pointer;
}

#logo img:last-child{
    height: 120px;
    width: 120px;
    margin-left: 10px;
    cursor: pointer;
}

#button a, #button-text a{
    text-decoration: none;
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 25px;
    border: 1px solid black;
    border-radius: 3px;
    padding: 4px 15px;

}

#button a:hover, #button-text a:hover {
    background-color: #984DFA;
    transition: background-color 0.8s ease;
}

/* Área principal */

main {
    display: flex;
    align-items: center;
    height: 85vh;
    width: 50vw;
}

#main-content {
    display: flex;
    flex-direction: column;
}

#main-text {
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
}

#second-text {
    font-size: 40px;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: bold;
    color: #984DFA;
    letter-spacing: -3px;
    cursor: pointer;
}

#spacing {
    margin: 0px 6px;
}

.letter-especific:hover {
    color: black;
}

#third-text {
    font-size: 21px;
    font-family: 'Source Sans', sans-serif;
    width: 35vw;
}

#button-text {
    margin-top: 20px;
}

#button-text a {
    padding: 5px 95px;
}
